*{
    margin: 0;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    padding:10px;
    min-width: 400px;
}

#input-el{
    border:1px solid #5f9341;
    outline: none;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 20px;
}

#input-btn{
    font-weight: bold;
    border: none;
    background-color: #5f9341;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
}

ul{
    padding-left: 0;
    margin-top: 20px;
}

ul li{
    list-style: none;
    padding-left: 0;
    font-size: 18px;
    margin-top: 10px;
}

ul li a{
    color: #5f9341;
}