*{
    margin: 0;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    padding:10px;
    max-width: 302px;
}

#input-el{
    border:1px solid #5f9341;
    outline: none;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 20px;
}

#input-btn, #clear-btn,#save-btn{
    font-weight: bold;
    border: none;
    background-color: #5f9341;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px 20px;
}

#clear-btn{
    background-color: #fff;
    color: #5f9341;
    border: 1px solid #5f9341;
    border-radius: 3px;
}

#clear-btn:active{
    transform: scale(1.1, 1.1);
}

#input-btn:active{
    transform: scale(1.1, 1.1);
}

#save-btn:active{
    transform:scale(1.1, 1.1);
}

ul{
    padding-left: 0;
    margin-top: 20px;
    max-width: 400px;
}

ul li{
    list-style: none;
    padding-left: 0;
    font-size: 15px;
    margin-top: 10px;
    
}

ul li a{
    color: #5f9341;
    
}

label{
    color:#5f9341;
    font-weight: 900;
}