body{
    background-color: #016f32;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
}

h1{
    color: goldenrod;
}

.container{
    text-align: center;
}

.text-container{
    color: #ffff;
    font-style: italic;
    text-align: center;
    font-weight: bold;
}

#start-btn, #newCard-btn{
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    border: none;
    height: 30px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 5px;
    cursor: pointer;
}

#start-btn:active{
    background-color: rgb(248, 188, 35);
}

#newCard-btn{
    margin-top: 10px;
}

#newCard-btn:active{
    background-color: rgb(248, 188, 35);
}