*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: #333;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    text-align: center;
}

.text{
    font-family: 'Courier New', Courier, monospace;
    background-color: #575656;
    height: 180px;
    padding: 20px 20px;
    border-radius: 15px;
}

h1{
    margin-bottom: 10px;
}

h2{
    font-size: 28px;
}

#increment-btn{
    padding:10px 15px;
    width: 150px;
    border-radius: 10px;
    border: none;
    background-color: red;
    color: #fff;
    font-weight: bold;

    top: 30px;
}

#decrement-btn{
    padding: 10px 15px;
    width: 150px;
    border-radius: 10px;
    border: none;
    background-color: green;
    color: #fff;
    font-weight: bold;
    margin: 10px 0px;
}

.buttons{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 30px;
    left: 73px;
}

#increment-btn:active{
    background-color: #f13c3c;
}

#decrement-btn:active{
    background-color: #3ef337;
}
