*{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

#input-el{
    border:1px solid #5f9341;
    outline: none;
    width: 100%;
    margin-bottom: 10px;
}

#input-btn{
    font-weight: bold;
    border: none;
    background-color: #5f9341;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px;
}
